<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row pad-left-right">
            <span class="pull-left title">Contacts</span>
            <div class="pull-right">
              <a [routerLink]="['/contacts/new']" class="btn btn-success">New Contact</a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="center-panel">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let contact of contacts">
                <cms-contact-item [contact]="contact"></cms-contact-item>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
      </div>
    </div>
  </div>
</div>