<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Contacts</h3>
      <div class="pull-right">
        <a href="#" class="btn btn-primary btn-xs">New Contact</a>
      </div>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let contact of contacts">
          <div class="media">
            <div class="media-left">
              <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="media-object" style="width: 50px; height: 50px;">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{ contact.name }}</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>